body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, 
legend, input, button, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
img{
	display: block;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
#headr{
	width: 100%;
	height: 30px;
	background: #f7f9f8;
}
/*left*/
.fl{
	margin-left: 32px;
}
.fl li{
	font-size: 12px;
	line-height: 30px;
	float: left;
}
.cs,.cs a{
	color: #008240;
}
.cs a{
	display: inline-block;
	width: 50px;
	text-align: center;
}
.cs s,.s1,.s2{
	width: 8px;
	height: 4px;
	display: inline-block;
	background: url(../img/header-img.png) no-repeat;
	position: relative;
	top: -2px;
	left: 4px;
}
/*隐藏框*/

.fl1{
	width: 482px;
	/*height: 310px;*/
	padding-bottom: 20px;
	border: 2px solid #008240;
	position: absolute;
	top: 30px;
	left: 140px;
	display: none;
	background: #fff;
	z-index: 99999;
}

.fl1 .shou{
	line-height: 30px;
	height: 30px;
	background: #ededed;
	font-size: 12px;
	color: #727272;
	padding-left: 15px;
}
.shou a{
	/*display: inline-block;*/
	float: right;
	color: #008842;
	margin-right: 20px;
}
.shou a:hover{
	text-decoration: underline;
}
.fl1>span>i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/header-img.png) no-repeat right 0px;
	margin: 12px 5px 0px 15px;
}
.fl1>span{
	font-size: 14px;
	font-weight: 600;
	color: #666666;
}
.fl1>a{
	font-size: 12px;
	color: #727272;
	margin-left: 35px;
}
.ab{
	margin-left: 15px;
}
.ab li{
	width:85px;
	color: #008842;
	text-align: center;
	border: 2px solid transparent;
	border-bottom: 2px solid #e0e0e0;
}
.ab li:hover{
	border: 2px solid #E0E0E0;
	border-bottom: none;
}
dl{
	clear: both;
	margin-left: 15px;
	margin-top: 20px;
}
dt{
	float: left;
	margin-right: 15px;
	color: #008842;
	font-weight: 600;
}
dd{
	float: left;
	margin-right: 50px;
	line-height: 22px;
	color: #727272;
	font-size: 14px;
}
dd:hover{
	color: #008842;
	cursor: pointer;
}
.a2{
	display: none;
}

/*right*/
.fr{
	float: right;
	margin-right: 40px;
}
.fr li{
	line-height: 30px;
	float: left;
	margin-left: 20px;
}
.fr a{
	font-size: 12px;
	color: #000;
}
.fr li:nth-child(3) i{
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../img/header-img.png) no-repeat -40px 0px;
	vertical-align: middle;
	margin-right: 5px;
}
.fr li:nth-child(4) i{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../img/header-img.png) no-repeat -64px -1px;
	vertical-align: middle;
	margin-right: 5px;
}
.fr li:nth-child(5) i{
	width: 21px;
	height: 15px;
	display: inline-block;
	background: url(../img/header-img.png) no-repeat -147px -1px;
	vertical-align: middle;
	margin-right: 5px;
}
.fr li:nth-child(6) i{
	width: 18px;
	height: 12px;
	display: inline-block;
	background: url(../img/header-img.png) no-repeat -86px -3px;
	vertical-align: middle;
	margin-right: 5px;
}
/*划过*/
.cs a:hover{
	background: #008240;
	color: #fff;
}
.cs a:hover s{
	background: url(../img/header-img.png) no-repeat -25px 0px;
}
.fr a:hover{
	color: #008240;
}
.fr a:hover .s1{
	background: url(../img/header-img.png) no-repeat -13px 0px;
}
.fr a:hover .s2{
	background: url(../img/header-img.png) no-repeat -13px 0px;
}
.my{
	width: 105px;
	border: 1px solid #b4c1a3;
	position: absolute;
	top: 30px;
	left: 923px;
	padding: 10px;
	font-size: 12px;
	color: #727272;
	line-height: 26px;
	display: none;
	background: #FFFFFF;
	z-index: 99999;
}
.my p:hover{
	cursor: pointer;
	color: #008842;
}
.phone{
	border: 1px solid #b4c1a3;
	position: absolute;
	top: 30px;
	left: 1022px;
	padding: 10px;
	text-align: center;
	display: none;
	background: #fff;
	z-index: 99999;
}
/*head2*/
#headr2{
	width: 100%;
	height: 78px;
	background: rgba(224,224,224,0.9);
	/*overflow: hidden;*/
	z-index: 99998;
	position: relative;
}
.logoimg{
	margin: 16px 140px 0px 30px;
	float: left;
}
.txt{
	width: 446px;
	height: 28px;
	border: 1px solid #008842;
	background: #E0E0E0;
	margin-top: 15px;
	outline: none;
	text-indent: 10px;
	float: left;
}
.sub{
	width: 82px;
	height: 30px;
	background: #008842;
	border: none;
	margin-top: 15px;
	float: left;
	outline: none;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.shopcar{
	width: 170px;
	height: 30px;
	background: #fff;
	border: 1px solid #008842;
	float: right;
	margin-right: 30px;
	margin-top: 15px;
	padding-top:10px ;
	text-align: center;
	font-size: 20px;
	color: #008842;
}
/*.shopcar strong{
	display: inline-block;
	position: absolute;
	top: 22px;
	left: 1120px;
	font-weight: 100;
	font-size: 14px;
}*/
.shopcar span{
	display: inline-block;
	width: 31px;
	height: 25px;
	background: url(../img/header-img.png) no-repeat -108px 2px;
	margin-right: 10px;
	font-size: 12px;
	vertical-align: middle;
}
#headr2 a{
	font-size: 12px;
	color: #6f6f6f;
}
.shopc{
	position: absolute;
	top: 48px;
	left: 315px;
}
.shopcaryc{
	width: 400px;
	height: 140px;
	background: #fff;
	border: 1px solid #008842;
	position: absolute;
	top: 56px;
	left: 831px;
	text-align: center;
	line-height: 140px;
	display: none;
	z-index: 9999;
}
#headr2 .shopc a:nth-child(2){
	color: #008842;
}
#headr2 .shopc a:nth-child(3){
	color: #008842;
}
#headr2 .shopc a:last-child{
	color: #008842;
}
